<h2>Add A New Car</h2>
<a href="/drivers/<%=current_driver.id%>/index">Go Back to Driver's Dashboard</a>
<form action="/cars/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Make: <input type="text" name="make" /></p>
    <p>Model: <input type="text" name="model" /></p>
    <p>Color: <select name="color">
               <option value="" disabled selected>Color</option>
               <option value="White">White</option>
               <option value="Black">Black</option>
               <option value="Silver">Silver</option>
               <option value="Blue">Blue</option>
               <option value="Green">Green</option>
               <option value="Yellow">Yellow</option>
               <option value="Red">Red</option>
               <option value="Tan">Tan</option>
               </select> </p>
    <p>Year: <select name="year">
              <option value="" disabled selected>Year</option>
             <option value="2017">2017</option>
             <option value="2016">2016</option>
             <option value="2015">2015</option>
             <option value="2014">2014</option>
             <option value="2013">2013</option>
             <option value="2012">2012</option>
             <option value="2011">2011</option>
             <option value="2010">2010</option>
             <option value="2009">2009</option>
             <option value="2008">2008</option>
             <option value="2007">2007</option>
             <option value="2006">2006</option>
             <option value="2005">2005</option>
             <option value="2004">2004</option>
             <option value="2003">2003</option>
             <option value="2002">2002</option>
             <option value="2001">2001</option>
             <option value="2000">2000</option>
             </select> </p>
    <p>Mileage: <input type="text" name="mileage" /></p>
    <input type="submit" value="Add New Car" />
</form>
