<a href="/professional_profile">My Profile</a>
<h2>Users you may want to connect with:</h2>
<table>
    <tr>
       <th>Name</th>
       <th>Action</th>
   </tr>
    <% @users.each do |user| %>
   <% if @network.friend_id != current_user.id || @invitations.inviter_id != current_user.id %>
   <% if user != current_user %>
   <tr>
      <td><a href="/users/<%=user.id%>/show"><%=user.name%></a></td>
      <td><a href="/invitations/<%=user.id%>/create" data-method="post">Connect</a></td>
      <% end %>
      <% end %>
   </tr>
   <% end %>
</table>
