<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Sign In</h1>
        <form action="/users" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            Username: <input type="text" name="username" />
            <input type="submit" value="Sign In" />
        </form>
        <div class="error">
            <% if flash[:errors] !=nil %>
            <% flash[:errors].each do |error| %>
            <p class="error">
                <%= error %>
            </p>
            <% end %>
            <% end %>
        </div>
    </body>
</html>
