<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }

        </style>
    </head>
    <body>

        <h1>Listing All Dojos</h1>

        <table>
            <tr>
                <th>Dojo Branch</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
            </tr>
            <% @dojos.each do |dojo| %>
            <tr>
                <td><%= dojo.branch %></td>
                <td><%= dojo.street %></td>
                <td><%= dojo.city %></td>
                <td><%= dojo.state %></td>
            </tr>
            <% end %>
        </table>
    </html>
